{
  "Version": "{{ version }}",
  "ID": "{{ uuid }}",
  "CreateTime": "{{ now }}",
  "Analyzer": {
    "IP": "127.0.0.1",
    "Name": "foobar",
    "Model": "generic",
    "Category": [
      "LOG"
    ],
    "Data": [
      "Log"
    ],
    "Method": [
      "Monitor"
    ]
  }
}
